# Jekyll specific files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Development directory
_dev/

# Ruby environment normalization
.ruby-version
.ruby-gemset

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor specific files
*.swp
*.swo
*~
.vscode/
.idea/

# Node.js
node_modules/